# Python
__pycache__/
*.pyc
venv/
.venv/
.venv*/
*.venv/
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
credentials/

# Local Testing
watched_folder/
test_ingest.sh

# Test results & local logs
TEST_RESULTS/
.coverage
.coverage.*
htmlcov/

# Node
node_modules/
